<%= form_tag do %>
<div class="form">
	<h4 class="ui-corner-top">Please, enter your email address</h4>
	<div class="content">
		<div class="field">
			<%= text_field_tag :email, params[:email] %>
			<label for="email" ><%= t('.email') %></label>
		</div>
		<div class="actions">
			<%= submit_tag 'Send', :class => 'submit' %>
		</div>
	</div>
</div>
<% end %>