<%= form_for(@guest) do |f| %>
<div class="form">
	<h4 class="ui-corner-top">Add guest</h4>

	<div class="content">
		<%= render 'form', :f => f %>
		<div class="actions">
			<%= submit_tag :class => 'submit', :value => 'Edit Guest' %>
		</div>
	</div>

</div>

<% end %>
<%= link_to 'Delete guest', guest_path(:id => @guest.id), :method => 'delete', :confirm => t('are_you_sure') ,:class => 'ui-icon ui-icon-trash' %>