<%= form_tag search_exam_path do %>
<div class="form">
	<h4 class="ui-corner-top">Search</h4>
	<div class="content">
		<div class="field">
			<%= text_field_tag :from_date, params[:from_date], :class => 'datepicker' %>
			<label for="from_date" >From date</label>
		</div>
		<div class="field">
			<%= text_field_tag :to_date, params[:to_date], :class => 'datepicker' %>
			<label for="to_date" >To date</label>
		</div>
		<div class="actions">
			<%= submit_tag 'Search', :class => 'submit' %>
		</div>
	</div>
</div>
<% end %>