/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
input, textarea {
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 200px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #eeeeee), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #eeeeee 1px, #FFFFFF 25px);
}

textarea {
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: #C9C9C9;
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

form label {
	margin-left: 10px;
	color: #999999;
}

tr td, tr th {
	padding: 10px;
}

thead tr {
	border-bottom: solid 2px #aaaaaa;
}

#footer {
	border-top: 1px solid #aaaaaa;
	background-color: #eeeeee;
}

#container {
	border: 1px solid #aaaaaa;
	background-color: #dedede;
	margin-top: 20px;
}

#header {
	border-bottom: 1px solid #aaaaaa;
}

body {
	background-image: url(images/debut_dark.png)
}

#main {
	padding-top: 25px;
}

#leftmenu {
	padding-top: 25px;
}

