$grey: #c1cad0;
$light_grey: #6c7275;
$blue: #508db8;
$header_dark: #363d3f;
$header_light: #42494c;

$header_menu_dark: #525a5d;
$header_menu_light: #5c6467;
$header_height: 5em;
$white: #ffffff;
$orange: #ccab10;

$header: #3a4043;
$form_field: #f3f3f3;

$radius: 4px;
$margin: 1em;
$padding: 1em;
$padding-side: 5em;
$padding_small: 0.7em;
$small: 0.8em;



#container {
  
  background-color: $grey;
  
  #header {
    padding-top: $padding;
    height: $header_height;
    padding-left: $padding_side;
    padding-right: $padding_side;
    background: -webkit-gradient(linear, left top, left bottom, from($header_dark), to($header_light));
    background: -moz-linear-gradient(top, $header_dark, $header_light);
    color: $grey;
    
    #title {
      float: left;
      h1 {
        text-transform: uppercase;
        color: $white; 
        margin-bottom: 0px;
      }
      p {
        margin-bottom: 0px;
      }
    }
    
    #menu {
      float: right;
      a {
        color: $orange;
      }
      a:hover {
        color: $white; 
      }
      
      .last_login {
        font-size: $small;
      }
    }
  }
  
  #header_menu {
    
    padding-left: $padding_side;
    padding-right: $padding_side;
    background: -webkit-gradient(linear, left top, left bottom, from($header_menu_dark), to($header_menu_light));
    background: -moz-linear-gradient(top, $header_menu_dark, $header_menu_light);
    overflow: hidden;
    
    #nav_search {
      float: right;
      margin-top: 12px;
       input {
        border-radius: $radius;
      }
    }
    
    ul {
      float: left;
      list-style: none;
      padding-top: $padding;
      padding-bottom: $padding;
      
      li {
        display: inline;
        padding: $padding;
        a {
          text-transform: uppercase;
          color: $white;
        }
      }
      
      li.first, li.first:hover, li.first:hover > a {
        background-color: $light_grey;
        color: $white;
      }
        
      li:hover {
          background-color: $white;
      }
      
      li:hover > a {
        color: $blue;
      }
    }
  }
  
  #main {
    padding-right: $padding_side;
    padding-left: $padding_side;
    margin-top: $margin;
    
    .form, .widget {
      
      margin-bottom: $margin;
      
      h4 {
        background-color: $header;
        text-transform: uppercase;
        color: $white;
        padding: $padding_small;
      }
      
      .content {
        background-color: $white;
        padding: $padding;
        
        .field {
          background-color: $form_field;
          padding: $padding_small;
          margin-bottom: $margin;
          
          input {
            margin-top: 10px;
            padding: 9px;
            border: solid 1px #E5E5E5;
            outline: 0;
            font: normal 13px/100% Verdana, Tahoma, sans-serif;
            width: 200px;
            background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #eeeeee), to(#FFFFFF));
            background: -moz-linear-gradient(top, #FFFFFF, #eeeeee 1px, #FFFFFF 25px);
          }
          
          textarea {
            width: 400px;
            max-width: 400px;
            height: 150px;
            line-height: 150%;
          }
          
          input:hover, textarea:hover, input:focus, textarea:focus {
            border-color: #C9C9C9;
            -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
          }
        }
      }
    }
  }
  
  #footer {
    padding-right: $padding_side;
    padding-left: $padding_side;
    margin-top: $margin;
    background-color: $white;
    p {
      padding-top: $padding;
      text-align: center;
    }
  }
  
}

tr td, tr th {
  padding: 10px;
}

thead tr {
  border-bottom: solid 2px #aaaaaa;
}


.bold_grey {
  color: $grey;
  font-weight: bold;
}

a {
  text-decoration: none;
}

#back {
  text-align: center;
}
