$border: #494e52;

$base: #ffffff;
$dark: #132240;
$light_dark: #3966bf;
$light_color: #ffeadd;
$grey: #dddddd;

$margin: 1em;
$padding: 1em;


#container {
  border: 1px solid $border;
  background-color: $grey;
  margin-top: 20px;
  padding: 10px;

}

.comment {
  
  margin-bottom: $margin;
    
    h4 {
      border-top: 1px solid $border;
      border-left: 1px solid $border;
      border-right: 1px solid $border;
      background-color: $light_dark;
      margin-bottom: 0px;
      padding-left: $padding;
      color: $base; 
    }
    
    content {
      color: #aaaaaa;
    }
}

hr {
  margin-top: $margin;
}

a {
  text-decoration: none;
}

#leftmenu {
  ul {
    list-style: none;
      padding: 0px;
    li {
      border-bottom: 1px solid $border;
      padding: $padding;
      margin-left: 0px;
      text-transform: uppercase;
    }
    
    li:hover, li:hover > a {
      background-color: $light-dark;
      color: $base;
    }
  }
}


.form, .widget {  
    
    h4 {
      border-top: 1px solid $border;
      border-left: 1px solid $border;
      border-right: 1px solid $border;
      background-color: $light_dark;
      margin-bottom: 0px;
      padding-left: $padding;
      font-family:Verdana, Arial, Helvetica, sans-serif;  
      font-weight:bold;  
      text-transform:uppercase;
      color: $base;
    }      
}  

.content {  
    background-color: $base;  
    padding: $padding; 
    border:1px solid $border;   
    margin-bottom: $margin; 
}  

.content_nopadding {  
    background-color: $base;  
    padding: 0px; 
    border:1px solid $border;   
    margin-bottom: $margin; 
}  


#back {
  text-align: center;
}
