$border: #494e52;
$background: #636d76;
$content_background: #ffffff;
$hover_background: #2f343a;
$light_color: #eeeeee; 
$margin: 1em;
$padding: 1em;
$font_color_on_dark: #ffebb5;

.comment {
  
  margin-bottom: $margin;
    
    h4 {
      background-color: $hover_background;
      margin-bottom: 0px;
      padding-left: $padding;
      color: $light_color; 
    }
    
    content {
      color: #aaaaaa;
    }
}

hr {
  margin-top: $margin;
}

.tabbed_area {
  padding: $padding;
  background: $background;
  
  h4 {
      margin-bottom: $margin;
      color: $light_color;  
  }
}

.form, .widget {  
    
    h4 {
      background-color: $hover_background;
      margin-bottom: 0px;
      padding-left: $padding;
      font-family:Verdana, Arial, Helvetica, sans-serif;  
      font-weight:bold;  
      text-transform:uppercase;
      color: $font_color_on_dark;
    }      
}  

ul.tabs {  
    margin:0px; padding:0px;  
    margin-top:5px;  
    margin-bottom:5px; 
   
    li {  
      list-style:none;  
      display:inline;  
      margin-left: 0px;
    
      a {  
        background-color:#464c54;  
        color:#ffebb5;  
        padding:8px 14px 8px 14px;  
        text-decoration:none;  
        font-size:9px;  
        font-family:Verdana, Arial, Helvetica, sans-serif;  
        font-weight:bold;  
        text-transform:uppercase;  
        border:1px solid #464c54;   
      }  
  }   
} 
 
  
ul.tabs li a:hover {  
    background-color: $hover_background; 
    border-color:#2f343a;  
}  
ul.tabs li a.active {  
    background-color:$content_background;  
    color:#282e32;  
    border:1px solid $border;   
    border-bottom: 1px solid $content_background;  
}  

.content {  
    background-color: $content_background;  
    padding: $padding; 
    border:1px solid $border;   
    margin-bottom: $margin; 
}  
#content_2 { display:none; } 

#back {
  text-align: center;
}
